

body {
	background-image: url(watercolorbackground.jpg);
	background-attachment: fixed;
	background-size: 100% 100%;
	margin: 10%;
	font-family: Bookman Old Style;
}
header {
	top: 60;
}
header h1 {
	display: inline;
	font-size: 50px;
}

h3 {
	border-radius: 20px;
	background-image: url(greenbackground.jpg);
	background-size: 100% 100%;
	box-shadow: 0 0 8px 8px white;
	margin: 0;
	padding: 25px 5px 15px 5px;
}
h4 {
	padding: 0px;
}
ul li {
	padding: 0px;
}
p {
	clear: both;
}
img{
	border-radius: 50%;
	float: right;
}

.center{
	font-size: 35px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.navbar{
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	background-image: url(greenbackground.jpg);
	background-size: 100% 100%;
	padding: 45px 15px 0px 15px;
	margin: 0%;
	border-radius: 0px;
}

.navbar a {
	float: left;
	color: black;
	text-align: center;
	padding: 15px 15px;
	font-size: 20px;
}
.navbar a:hover {
	background-image: url(yellowgreenbackground.jpg);
	color: white;
}
.navbar ul li {
	border-radius: 20px;
	list-style-type: none;
	display: inline-block;
	background-image: url(yellowgreenbackground.jpg);
	color: white;
	padding: 15px 15px;
	margin: 0%;
}