@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
@import url("https://fonts.googleapis.com/css?family=Merriweather");
@import url("https://fonts.googleapis.com/css?family=News+Cycle");
@import url("https://fonts.googleapis.com/css?family=Cookie");
@import url("https://fonts.googleapis.com/css?family=Special+Elite");
@import url("https://fonts.googleapis.com/css?family=Handlee");
@import url("https://fonts.googleapis.com/css?family=Glegoo");

body {
	/*background-image: url(Images/background2.jpg);
	background-image: url(Images/watercolorbackground2a.jpg);
	background-attachment: fixed;
	*/
	background-color: #fbedff; /*light grape*/
	color: #2b3a4f; /*dark blue*/
	color: #333333; /*dark charcoal*/
	background-size: 100% 100%;
	margin: 10%;
	/*font-family: Bookman Old Style;*/
	/*font-family: "Playfair Display";*/
	/*font-family: "Merriweather";*/
	font-family: "Glegoo";
}
header {
	color: #303040;
	color: #495b75;
	top: 60;
	font-family: "Special Elite"; /*News Cycle*/
}

header img {
	clear: both;
	box-shadow: 0 0 0 0;
}
h1{
	font-size: 100px;
	font-family:"Cookie";
	color: #623B76; /* Cyber Grape*/
	text-align: center;
}
h2{
	color: #303040;
	color: #495b75;
	text-align: center;
	font-size: 35px;
}
h3 {
	color: #303040;
	color: #495b75;
	border-radius: 20px;
	background-color: #F78281; /* Light Coral*/
	background-color: #F8B0AA; /* Melon*/
	/*background-image: url(Images/greenbackground2.jpg);*/
	background-size: 100% 100%;
	box-shadow: 0 0 8px 8px white;
	margin: 0;
	padding: 15px 5px 10px 5px;
}
h4 {
	color: #303040;
	color: #2b3a4f;
	padding: 0px;
}
ul li {
	color: #303040;
	color: #495b75;
	padding: 0px;
}
p {
	color: #303040;
	color: #495b75;
	color: #2b3a4f;
	clear: both;
	margin-left: 10px;
	margin-right: 10px;
}

img{
	padding: 0px;
	border-radius: 50%;
	box-shadow: 0 0 8px 8px white;
}

.about img{
	padding: 0px;
	border-radius: 50%;
	float: right;
	box-shadow: 0 0 8px 8px white;
}

video{
	padding: 20px;
	display: block;
	margin: 0 auto;
	float: right;
	/*box-shadow: 8 8 1px 1px white;*/
}

.welcome{
	color: #303040;
	color: #495b75;
	color: #2b3a4f;
	font-size: 35px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	font-family: "Glegoo";
}

.welcome img{
	padding: 0px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	box-shadow: 0 0 8px 8px white;
}

.gamecontent{
	margin: 10px 10px;
}

.gamecontent img{
	float: left;
	box-shadow: 0 0 8px 8px white;
	height: 200px;
	padding: 10px;
	opacity: 1.0;
	border-radius: 0%;
	transition: 0.5s;
}

.gamecontent:hover img{
	opacity: 0.5;
}

.gamecontent img:hover{
	opacity: 1.0;
	transform: scale(1.1);
}

.contactinfo img{
	clear: both;
	box-shadow: 0 0 8px 8px white;
	border-radius: 50%;
	opacity: 1.0;
	display: inline-block;
	transition: 0.5s;
}
.inline-block {
	display:inline-block;
	clear: both;
	box-shadow: 0 0 8px 8px white;
	border-radius: 50%;
	opacity: 1.0;
}

.contactinfo:hover img{
	opacity: 0.5;
}

.contactinfo img:hover{
	opacity: 1.0;
	transform: scale(1.5, 1.5);
}

.contactinfofooter {
	color: #4b555e;
	margin: 0 auto;
	float: right;
	width: 63%;
}

.contactinfofooter img{
	opacity: 1.0;
	transition: 0.5s;
}

.contactinfofooter:hover img{
	opacity: 0.5;
}

.contactinfofooter img:hover{
	opacity:1.0;
	transform: scale(1.5, 1.5);
}

.center{
	color: #303040;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	box-shadow: 0 0 8px 8px white;
}

.centerImg{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	float: right;
	width: 63%;
}

.navbar{
	color: #623B76; /* Cyber Grape*/
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #F78281; /* Light Coral*/
	background-color: #F8B0AA; /* Melon*/
	/*background-image: url(Images/greenbackground.jpg);*/
	background-size: 100% 100%;
	opacity: 0.8;
	padding: 45px 15px 0px 15px;
	margin: 0%;
	border-radius: 0px 0px 0px 20px;
	box-shadow: 0 0 8px 8px white;
}

.navbar a {
	float: left;
	color: #303040;
	color: #495b75;
	color: #2b3a4f;
	color: #623B76; /* Cyber Grape*/
	color: #333333; /*dark charcoal*/
	text-align: center;
	padding: 15px 15px;
	font-size: 20px;
	opacity: 1.0;
	border-radius: 20px 20px 0px 0px;
	transition: 0.5s;
}
.navbar a:hover {
	background-color: #F8B0AA; /* Melon*/
	background-color: #F78281; /* Light Coral*/
	/*background-image: url(Images/yellowgreenbackground.jpg);*/
	color: white;
	
	opacity: 1.0;
	box-shadow: 0 0 8px 8px white;
	padding: 15px 15px 15px 15px;

}
.active{
	background-color: #F8B0AA; /* Melon*/
	background-color: #F78281; /* Light Coral*/
	/*background-image: url(Images/yellowgreenbackground.jpg);*/
	color: white;
	border-radius: 20px 20px 0px 0px;
	opacity: 1.0;
	box-shadow: 0 0 8px 8px white;
}

footer{
	color: #798b94;
	color: #495b75;
	text-align: center;
}

div {
	transition: width 2s;
}