

body {
	background-image: url(background2.jpg);
	background-image: url(watercolorbackground2a.jpg);
	background-attachment: fixed;
	color: #495b75;
	color: #2b3a4f;
	background-size: 100% 100%;
	margin: 10%;
	font-family: Bookman Old Style;
}
header {
	color: #303040;
	color: #495b75;
	top: 60;
}

header img {
	clear: both;
	box-shadow: 0 0 0 0;
	float: left;
}

h2{
	color: #303040;
	color: #495b75;
}
h3 {
	color: #303040;
	color: #495b75;
	border-radius: 20px;
	background-image: url(greenbackground.jpg);
	background-size: 100% 100%;
	box-shadow: 0 0 8px 8px white;
	margin: 0;
	padding: 25px 5px 15px 5px;
}
h4 {
	color: #303040;
	color: #2b3a4f;
	padding: 0px;
}
ul li {
	color: #303040;
	color: #495b75;
	padding: 0px;
}
p {
	color: #303040;
	color: #495b75;
	color: #2b3a4f;
	clear: both;
}

img{
	border-radius: 50%;
	float: right;
	box-shadow: 0 0 8px 8px white;
}

.welcome{
	color: #303040;
	color: #495b75;
	color: #2b3a4f;
	font-size: 35px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.gamecontent img{
	clear:both;
	border-radius: 0%;
	float: left;
	display: flex;
}

.contactinfo img{
	clear: both;
	box-shadow: 0 0 8px 8px white;
	border-radius: 50%;
	opacity: 1.0;
	display: inline-block;
}
.inline-block {
	display:inline-block;
	clear: both;
	box-shadow: 0 0 8px 8px white;
	border-radius: 50%;
	opacity: 1.0;
}

.contactinfo img:hover{
	opacity: 1.0;
	transform: scale(1.5, 1.5);
}

.contactinfofooter {
	color: #4b555e;
}

.contactinfofooter img{
	opacity: 1.0;
}

.contactinfofooter img:hover{
	opacity:1.0;
	transform: scale(1.5, 1.5);
}

.center{
	color: #303040;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	box-shadow: 0 0 8px 8px white;
}

.centerImg{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.navbar{
	color: #303040;
	color: #495b75;
	color: #2b3a4f;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	background-image: url(greenbackground.jpg);
	background-size: 100% 100%;
	opacity: 0.8;
	padding: 45px 15px 0px 15px;
	margin: 0%;
	border-radius: 0px 0px 0px 20px;
	box-shadow: 0 0 8px 8px white;
}

.navbar a {
	float: left;
	color: #303040;
	color: #495b75;
	color: #2b3a4f;
	text-align: center;
	padding: 15px 15px;
	font-size: 20px;
	opacity: 1.0;
}
.navbar a:hover {
	background-image: url(yellowgreenbackground.jpg);
	color: white;
	border-radius: 20px 20px 0px 0px;
	opacity: 1.0;
	box-shadow: 0 0 8px 8px white;
	padding: 15px 15px 15px 15px;

}
.active {
	background-image: url(yellowgreenbackground.jpg);
	color: white;
	border-radius: 20px 20px 0px 0px;
	opacity: 0.8;
	box-shadow: 0 0 8px 8px white;
}

footer{
	color: #798b94;
	color: #495b75;
	float: right;
}

div {
	transition: width 2s;
}